@use "bootstrap/scss/functions";
@use "bootstrap/scss/variables";
@use "bootstrap/scss/mixins";
@use "bootstrap/scss/bootstrap";
// カスタムスタイルは最後に定義
.card-img-top {
   height: 250px;
   object-fit: cover;
   border-radius: 10px;
   background-color: aqua;
}
