@use 'bootstrap/scss/functions';
@use 'bootstrap/scss/variables' as *;  // 変数を先に読み込む
@use 'bootstrap/scss/mixins';          // ミキシンを読み込む
@use 'bootstrap/scss/bootstrap';       // Bootstrap 本体を読み込む

/* 既存のスタイルの下に追加 */
.card-img-top {
   height: 250px;             /* 画像の高さを変更 */
   object-fit: cover;         /* 画像を縦横比を保ったまま、領域にフィットさせる */
   border-radius: 10px;       /* 角丸を追加 */
   background-color: aqua;
}


